.sidebar {
  padding: 25px 10px;
  flex: 0.33;
}

.sidebarOpener {
  display: none;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    flex: unset;
    transition: all 0.5s ease;
  }

  .sidebar.open {
    transform: translateX(0);
    z-index: 9999;
    background-color: #f0f2f5;
  }

  .sidebarOpener {
    z-index: 10000;
    background-color: #288fa7;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-bottom-right-radius: 15px;
  }
}
